body { 
    font-family: Verdana, 'Times New Roman';  
    background-color: #000000;
    color: #FFFFFF; 
    margin: 25px 25px 0px 25px;
}

h1 { 
    font-size: 48px;  
    padding: 15px;
    text-align: center;

}  


h2{ 
    font-size: 32px; 
    text-shadow: 2px 4px #808080; 

}

p { 
    font-size: 24px; 
    padding-bottom: 15px; 
    padding-left: 15px;
}


img { 
    width: 350px;
    display: block;
    margin: 0 auto;
    border: 10px dashed #FFFFFF;
} 

div { 
    min-height: 100px; 
    padding: 20px;  
    border: 3px;
    border-style: solid;
    border-color: #FFFFFF;
}


.intro { 
    border-radius: 15px;
    margin-top: 15px;
}

.red { 
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 3px; 
    border-left: 10px;
}

.blue{ 
    background-color: #0000FF; 
    text-align: left; 
    margin-right: 50px; 
    border-right: 10px; 
    border-bottom: 3px;
} 

.yellow{ 
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 3px; 
    border-left: 10px; 
}  

.yellow h2 { 
    color: #000000;
    text-shadow: 2px 4px #c7e2c7; 
}

.yellow p { 
    color: #000000; 
}

.green{ 
    background-color: #008500; 
    text-align: left;
    margin-right: 50px;
    border-right: 10px;
    border-bottom: 3px;
}

span{ 
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: none;
}

footer{ 
    background: #000000;
    background: linear-gradient(90deg, #000000 0%,  #0000ff 25%,  #0066ff 70%, #000000 100%);
}

footer p{ 
    font-size: 20px;
    text-align: center;
    padding-top: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: none;

}

